@import '../../../node_modules/md-date-time-picker/src/scss/dependencies/color-definitions';

$md_path: '../../../node_modules/md-date-time-picker/src/images/';

$picker-button-left: $md_path+'ic_keyboard_arrow_left_black_24px.svg';
$picker-button-right: $md_path+'ic_keyboard_arrow_right_black_24px.svg';
$picker-button-left-disabled: $md_path+'ic_keyboard_arrow_left_white_disabled_24px.svg';
$picker-button-right-disabled: $md_path+'ic_keyboard_arrow_right_white_disabled_24px.svg';


$primary-color-palette: $palette-grey;
//$dark-theme: true;

@import '../../../node_modules/md-date-time-picker/src/scss/component.scss';

