{
  "env": {},
  "ignore": [],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    [
      "babel-plugin-transform-require-ignore",
      {
        "extensions": [".less", ".sass", ".css"]
      }
    ]
  ],
  "presets": [
    "stage-0",
    "env",
    "react-app"
  ]
}
