@import '../../../node_modules/material-design-lite/src/layout/_layout.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.mdl-layout__content {
  width:100%;
}

.mdl-layout__header {
  background-color: #222;
}